.summary {
  width: 100%;
  height: 75px;
  margin: 0%;
  padding: 10px;
  padding-right: 15px;
  background-color: #ffffff;
  border-color: black;

  border-radius: 5px;
}

.message {
  margin: 0%;
  margin-top: 3%;
  border-radius: 10px;
  height: 75px;
}

.messageCard {
  height: auto;
  margin: 1%;
 
  background-color: #ffffff;

  border-radius: 10px;
 
}
.incomingMessageCard {
  margin: 0%;
  padding-left: 20%;
  border-radius: 10px;
}

.scrollbar {
  width: auto !important;
  height: 400px !important;
}
